.teaser-container {
  max-width: 1204px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  .teasers-headliner {
    color: #0032a0;
    font-size: 27px;
    display: flex;
    justify-content: center;
    color: #0032a0;
    margin-top: 50px;
  }

  .teasers-list {
    margin-left: 16px;
    margin-right: -28px;
    // display: flex;
    flex-direction: column;
  }

  .first-row-teaser {
    display: flex;
    // flex-direction: column;
    flex-direction: row;
    align-self: center;
    .teaser1 {
      margin-left: 9px;
      margin-right: 9px;
      flex-shrink: 0;
      flex-grow: 0;
      flex: 50%;
      margin-bottom: 15px;
      background-color: white;

      .col-xs-5 {
    flex-basis: 41.66666667%;
    max-width: 46.666667%;
}

      .teaser-image {
        overflow: hidden;
        position: relative;

        img {
          max-width: 100%;
          max-height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .teaser-content {
        font-size: 22px;
        color: #0032a0;
        font-weight: bold;
        margin-top: 17px;
        justify-content: center;
        text-align: center;
        margin-bottom: 15px;
      }
    }
    .teaser1:hover {
      box-sizing: border-box;
      box-shadow: 0 0 20px 1px #e0e0e0;
      transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
      cursor: pointer;
      .teaser-image img {
        transform: scale3d(1.05, 1.05, 1) translateZ(0);
        transition: transform 0.8s cubic-bezier(0.095, 0.33, 0.285, 1) 25ms;
      }
    }
  }
}





///Responsive




@media screen and(max-width:959px) {

 .teaser-container {
.teasers{

  .teasers-list {
   margin-left: 16px;
   margin-right: -28px;
}
}


}


}




@media screen and(max-width:640px) {


  .teaser-container {
    .teasers{

      .teasers-list {
     
       
          margin-left: 5px;
         margin-right: 0;
         width: 100%;
    }


    .teaser1{

      .teaser-content {
      font-size: 14px;
      color: #0032a0;
      font-weight: bold;
      margin-top: 10px;
      justify-content: center;
      text-align: center;
      margin-bottom: 0px;
      line-height: 15px;
  }
    }

}


}

}